<html>
  <head>
    <title>Stress Detector API</title>
  </head>
  <body style="background-color: #c5e3f6;" >
    <h1>Stress Detector API</h1>
    <img id="bg" src="{{ url_for('predict') }}">
    <h1>
      Things you can try to help with stress
    </h1>
    <h2>
      Do
      </h2>
      <ui style="font-size:25px">
        
          <span style="font-family: wingdings; font-size: 100%;">&#x2705;</span>
          try talking about your feelings to a friend, family member or health professional. 
      </br>
          
      <span style="font-family: wingdings; font-size: 100%;">&#x2705;</span>
            use easy time-management techniques to help you take control.
          </br>
          <span style="font-family: wingdings; font-size: 100%;">&#x2705;</span>
              use calming breathing exercises.
            </br>
            <span style="font-family: wingdings; font-size: 100%;">&#x2705;</span>
                plan ahead for stressful days or events - planning long journeys or making a list of things to remember can really help 
              </br>
              <span style="font-family: wingdings; font-size: 100%;">&#x2705;</span>
                
                  consider peer support, where people use their experiences to help each other. 
                </br>
                <span style="font-family: wingdings; font-size: 100%;">&#x2705;</span>
                    listen to free mental wellbeing audio guides. 
                    

        </ui>
        
        <h2>
          Don't
          </h2>
          <ui style="font-size:25px">
            <span style="font-family: wingdings; font-size: 125%;color :red ">&#x2bbd;</span>
              do not try to do everything at once - set small targets you can easily achieve
            </br>
            <span style="font-family: wingdings; font-size: 125%;color :red ">&#x2bbd;</span>
              
                do not focus on the things you cannot change - focus your time and energy into helping yourself feel better
                
              </br>
              <span style="font-family: wingdings; font-size: 125%;color :red ">&#x2bbd;</span>
                  try not to tell yourself that you're alone – most people feel stressed at some point in their life and support is available
                  
                </br>
                <span style="font-family: wingdings; font-size: 125%;color :red ">&#x2bbd;</span>
                    try not to use alcohol, cigarettes, gambling or drugs to relieve stress – these can all contribute to poor mental health
                  
                    
            </ui>
  </body>
</html>
